:root {
  --color-bg: white;
  --color-fg: black;
  --color-dark-blue: #000034;
  --color-soft-blue: #4A90E2;
  --color-blue-grey: #676686;
  --color-light-blue: #F4FAFF;
  --color-transparent: rgba(255, 255, 255, 0.5);
  --border-size: 6rem;
  --toggle-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-dark-blue);
  /* background-color: var(--color-transparent); */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 1rem; */
}

.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 5;
}

.intro h2 {
  color: #4a90e2;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 8rem; */
  scroll-snap-type: mandatory;
  width: 100%;
}

.main::after {
  position: fixed;
  content: "";
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--color-transparent);
}

.bg-video {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


header {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top:0;
  left:0;
  display: flex;
  width: 100%;
  padding: 1rem;
  z-index: 999;
  background-color: var(--color-transparent);
}

nav {
  position: absolute;
  text-align: center;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.5s ease-in-out;
}

nav a {
  text-decoration: none;
  margin-bottom: 1em;
  font-size: larger;
  text-transform: uppercase;
  opacity: 0;
  color: var(--color-dark-blue);
  transition: opacity 150ms ease-in-out;
  font-weight: lighter;
}


input:checked + nav {
  height: max-content;
  transform: scale(1, 1);
  background-color: var(--color-transparent);
}

input:checked + nav a{
  opacity: 1;
  transition: opacity 150ms ease-in-out 150ms;
}

/* menu toggle style */
.toggle {
  
  position: relative;
  width: var(--toggle-size);
  height: var(--toggle-size);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.toggle:hover {
  animation: wiggle 0.3s forwards;
}
.toggle::before, .toggle::after {
  position: absolute;
  content: "";
  background-color: var(--color-dark-blue);
  border-radius: var(--toggle-size);
  width: var(--toggle-size);
  height: calc(var(--toggle-size)/8);
  top: 50%;
  left: 50%;
  margin-left: calc(-1 * var(--toggle-size)/2);
  margin-top: calc(-1 * var(--toggle-size)/20);
  transition: transform 0.5s ;
  opacity: 1;
}

.toggle::before {
  transform: translateY(calc(var(--toggle-size)/4)) rotate(0deg);
}

.toggle::after {
  transform: translateY(calc(-1 * var(--toggle-size)/4)) rotate(0deg);
}

.toggle:checked::before {
  transform: translateY(0) rotate(45deg);
}

.toggle:checked::after {
  transform: translateY(0) rotate(315deg);
}

/* .logo {
  height: 2rem;
  width: 2rem;
} */

/* svg {
  height: 2rem;
} */

.logo svg {
  width: 2rem;
}


.main section {
  
  /* max-width: 75ch; */
  width: 100%;
  padding: 2rem;
  min-height: 30vh;
  height: 100vh;
  color: var(--color-dark-blue);
  
  /* margin: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* border-radius: 1rem; */
  /* margin-bottom: 2rem; */
  position: relative;
  z-index: 5;
  /* scroll-snap-align: start; */

  
}

.solid {
  background-color: var(--color-bg);
}

.solid::before {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-size));
  height: var(--border-size);
  width: 100%;
  background: linear-gradient(to top, var(--color-bg), rgba(255, 255, 255, 0.001));
}

.solid::after {
  position: absolute;
  content: "";
  bottom: calc(-1 * var(--border-size));
  height: var(--border-size);
  width: 100%;
  background: linear-gradient(to bottom, var(--color-bg), rgba(255, 255, 255, 0.001));
}

/* section.transparent {
  background-color: var(--color-transparent);
} */



.section-title {
  width: max-content;
  font-size: xx-large;
  padding: 1rem 0;
}

.section-paragraph {
  max-width: 50ch;
  font-size: larger;
}

.section-title, .section-paragraph,  .steps{
  opacity: 0;
  transform: translateY(-1rem);
  transition: opacity 0.5s, transform 0.5s;
}

.active {
  opacity: 1;
  transform: translateY(0);
}

.outro {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  /* background-color: #454545; */
  /* border-radius: 1rem; */
  position: relative;
  /* max-width: 75ch; */
  /* margin: 5rem 0; */
  /* padding: 1rem; */
}

.outro::after {
  display: none;
}

.steps {
  display: flex;
  flex-direction: column;

}

.steps a {
  text-decoration: none;
  color: #4a90e2;
}

.outro .section-group > * {
  padding: 0.5rem 2rem;
}



.flip {
  animation: flip 2s forwards;
  transform-origin: top;
}

@keyframes flip {
  from {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .2em solid #4a90e2; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .0em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(24, end),
    blink-caret .75s step-end infinite;
  font-family: monospace;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #4a90e2; }
}


@media screen and (min-width: 768px) {
  .toggle {
    display: none;
  }


  
  nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    height: 100%;
    transform: scale(1,1);
    transition: none;
    top: initial;
    left: initial;
  }



  nav a {
    margin-bottom: 0;
    opacity: 1;
    margin-left: 1em;
  }

  /* .main section {
    align-items: flex-start;
  }

  .section-group:nth-child(2) {
    margin-left: auto;
  } */



}