:root {
  
  --color-dark-blue: #00001b;
  --color-darker-blue: #000034;
  --color-soft-blue: #4A90E2;
  --color-blue-grey: #676686;
  --color-light-blue: #F4FAFF;
  --color-bitcoin-orange: #f09e0e;
  --color-transparent: rgba(255, 255, 255, 0.8);
  --color-fade: rgba(255, 255, 255, 0.001);

  --color-bg: white;
  --color-fg: var(--color-darker-blue);

  --border-size: 6rem;
  --toggle-size: 2rem;


}

@media (prefers-color-scheme: dark) {
  :root {
  --color-bg: black;
  --color-fg: var(--color-light-blue);
  --color-transparent: rgba(0, 0, 0, 0.8);
  --color-fade: rgba(0, 0, 0, 0.001);
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-fg);
  font-family: 'Montserrat', sans-serif;
  /* background-color: var(--color-transparent); */
}

.container {
  display: flex; 
  flex-direction: column;
  align-items: center;
  /* padding: 1rem; */
}

.dark-blue {
  color: var(--color-dark-blue);
}

.light-blue {
  color: var(--color-light-blue);
}

.soft-blue {
  color: var(--color-soft-blue);
}

.blue-grey {
  color: var(--color-blue-grey);
}

.bitcoin-orange {
  color: var(--color-bitcoin-orange)
}

em {
  color: var(--color-soft-blue);
  font-style: normal;
}

.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 25vh; */
  margin-bottom: 10vh;
}

.scroll-indicator {
  animation: upDown 3s infinite;
  height: 2rem;
  width: 2rem;
}

.scroll-indicator > svg {
  height: 2rem;
  width: 2rem;
  fill: var(--color-fg)
}

/* .hidden {
  opacity: 0;
} */

.intro h1 {
  width: 100%;
  margin: 2rem 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
}

.intro h2 {
  color: #4a90e2;
  width: 100%;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 8rem; */
  /* scroll-snap-type: proximity; */
  width: 100%;
}

.main::after {
  position: fixed;
  content: "";
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--color-transparent);
}

p {
  font-size: x-large;
}

.bg-video {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}



svg {
  height: 4rem;
}

.logo svg {
  width: 2rem;
}


.main section {
  
  /* max-width: 75ch; */
  width: 100vw;
  padding: 2rem;
  min-height: 100vh;
  height: max-content;
  /* max-height: max-content; */
  /* height: clamp(30vh, 100vh, max-content); */
  color: var(--color-fg);
  
  /* margin: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* border-radius: 1rem; */
  /* margin-bottom: 2rem; */
  position: relative;
  z-index: 5;
  /* scroll-snap-align: start; */

  
}

.solid {
  background-color: var(--color-bg);
}

.solid::before {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-size));
  height: var(--border-size);
  width: 100%;
  background: linear-gradient(to top, var(--color-bg), var(--color-fade));
}

.solid::after {
  position: absolute;
  content: "";
  bottom: calc(-1 * var(--border-size));
  height: var(--border-size);
  width: 100%;
  background: linear-gradient(to bottom, var(--color-bg), var(--color-fade));
}

/* section.transparent {
  background-color: var(--color-transparent);
} */

.section-group {
  width: 100%;
  max-width: 50ch;
}

.section-title {
  font-size: xx-large;
  padding: 2rem 0;
}

.section-paragraph {
  /* max-width: 50ch; */
  /* font-size: larger; */
  margin-bottom: 1rem;
}

.comparison-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: flex-end;
  justify-items: center;
  padding-bottom: 6rem;
  /* max-width: 100vw; */
}

.comparison-title {
  font-size: x-large;
  grid-column: 1 / -1;
  width: 100%;
  margin-bottom: 1rem;
}

.comparison-paragraph {
  grid-column: 1 / -1;
  width: 100%;
}

.grid-left {
  grid-column: 1 / 2;
  text-align: center;
}

.grid-right {
  grid-column: -2 / -1;
  text-align: center;
}

.fade {
  opacity: 0;
  transform: translateY(-1rem);
  transition: opacity 0.5s, transform 0.5s;
}

.bar {
  width: 50%;
  border-radius: 0.2rem;
  transform: scale(1,0);
  transform-origin: bottom;
  transition: transform 2s, opacity 0.5s;
}

.bar.active {
  transform: scale(1,1) translateY(0);
}



.active {
  opacity: 1;
  transform: translateY(0);
}

#bitcoin-speed {
  height: 7rem;
  background-color: var(--color-bitcoin-orange);
  position: relative;
}



#nano-speed {
  height: 0.1rem;
  background-color: var(--color-soft-blue);
  position: relative;
}

#bitcoin-fees {
  height: 8rem;
  background-color: var(--color-bitcoin-orange);
  position: relative;
}

#nano-fees {
  height: 0rem;
  background-color: var(--color-soft-blue);
  position: relative;
}

#nano-fees.active, #nano-energy.active, #nano-speed.active{
  animation: barAnimation 3s forwards ease-in-out;
}

@keyframes barAnimation {
  /* 0% { height: 0;} */
  50% { height: 3rem;}
  /* 100% { height: 0;} */
}

#bitcoin-energy {
  height: 7rem;
  background-color: var(--color-bitcoin-orange);
  position: relative;
}

#nano-energy {
  height: 0.1rem;
  background-color: var(--color-soft-blue);
  position: relative;
}


/* .section-title, .section-paragraph,  .steps{
  opacity: 0;
  transform: translateY(-1rem);
  transition: opacity 0.5s, transform 0.5s;
} */



.outro {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  /* background-color: #454545; */
  /* border-radius: 1rem; */
  position: relative;
  /* max-width: 75ch; */
  /* margin: 5rem 0; */
  /* padding: 1rem; */
  /* padding-bottom: 0; */
}

.outro::after {
  display: none;
  content: none;
}

.steps {
  display: flex;
  flex-direction: column;

}

a {
  color: var(--color-soft-blue);
}

.steps > a {
  position: relative;
}

/* .steps > a::before {
  position: absolute;
  left: -0.9em;
  color: var(--color-dark-blue);
  font-weight: 900;
  font-size: 1.5rem;
  z-index: -1;
}

#wallet::before {
  content: "1";
}


#faucet::before {
  content: "2";
}

#wenano::before {
  content: "3";
}

#nano-org::before {
  content: "4";
} */


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* opacity: 0.4; */
  padding: 1rem;
  padding-bottom: 2rem;
  font-size: larger;
  width: 100vw;
}



.steps a {
  /* text-decoration: none; */
  color: var(--color-soft-blue);
  font-size: x-large;
  padding-bottom: 0.8rem;
}

.about.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.about.main > * {
  width: 100vw;
  overflow-wrap: break-word;
  padding: 1rem 1rem 0 1rem;
  text-align: center;
  font-size: x-large;
}

#about-section {
  transition: opacity 0.5s, transform 1s;
  transform-origin: top;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  /* padding: 1rem 0; */
  width: 100%;
}

#about-section > p {
  font-size: large;
  width: 100%;
  text-align: center;
  overflow-wrap: break-word;
  padding: 1rem 1rem 0 1rem;
}

#about-section.hidden {
  transition: opacity 0.5s;
  opacity: 0;
}

#about-button {
  background-color: transparent;
  border: none;
  color: var(--color-fg);
  font-size: large;
  text-decoration: underline;
}

.language-picker {
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  z-index: 999;
}


@keyframes upDown {
  /* 0% { transform: translateY(0); }
  50% { transform: translateY(0); }
  75% { transform: translateY(0.5rem); }
  100% { transform: translateY(0); } */
  50% { transform: translateY(1rem); }
}
